<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.devdiegopirutti.pontocertoapp">

    <application
        android:name=".DAO.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/logohand"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Gestor.Activity_gestor"></activity>
        <activity android:name=".Main.MainActivity" />
        <activity android:name=".Login.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Historico.HistoricoActivity"
            android:parentActivityName=".Main.MainActivity" />
    </application>

</manifest>